<!--
<div class="padding_5">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @order.description %>
</p>


<%= link_to 'Edit', edit_listing_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
</div>

-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
  <!-- CSS Files -->
</head>

<body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <div class="wrapper">
        <div class="sidebar" data-image=" ">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="/" class="simple-text">
                        SHOUTS.tv
                    </a>
                </div>
                <ul class="nav">
                  <li>
                          <a class="nav-link" href="/dashboard">
                              <i class="nc-icon nc-chart-pie-35"></i>
                              <p>Dashboard</p>
                          </a>
                      </li>
                        <li class="nav-item active">
                          <a class="nav-link" href="/shouts">
                              <i class="nc-icon nc-circle-09"></i>
                              <p>Shouts</p>
                          </a>
                          <li class="nav-item active">
                            <a class="nav-link" href="/shouts">
                                <i class="nc-icon nc-circle-09"></i>
                                <p>• View & Upload</p>
                            </a>
                        </li>
                      </li>
                      <li>
                          <a class="nav-link" href="/seller">
                              <i class="nc-icon nc-notes"></i>
                              <p>Manage Listing(s)</p>
                          </a>
                      </li>
                      <li>
                          <a class="nav-link" href="/users/edit">
                              <i class="nc-icon nc-paper-2"></i>
                              <p>User</p>
                          </a>
                      </li>
                        </a>

                </ul>
            </div>
        </div>
        <div class="main-panel">

            <div class="content">
                <div class="container-fluid">
                    <div class="row">

                      <div class="col-md-6">
                          <div class="card">
                            <div class="card-min-height-50vh">

                              <div class="card-header ">
                                  <h4 class="card-title">Shout Intel</h4>
                                  <p class="card-category"></p>
                              </div>
                              <div class="card-body table-full-width table-responsive">
                                <div class="padding_5">

                                <p id="notice"><%= notice %></p>

                                <p>
                                  <strong>Name:</strong>
                                  <%= @order.name %>
                                </p>

                                <p>
                                  <strong>Description:</strong>
                                  <%= @order.description %>
                                </p>
                              </div>
                            </div>
                              </div>
                          </div>
                      </div>



                        <div class="col-md-6">
                            <div class="card">
                              <div class="card-min-height-50vh">

                                <div class="card-header ">
                                    <h4 class="card-title">Upload Your Shout!</h4>
                                    <p class="card-category">Upload your shout here</p>
                                </div>
                                <div class="card-body table-full-width table-responsive">
                                  <div class="padding_5">

                                  <%= form_for([@listing, @order]) do |form| %>


                                    <% if @order.errors.any? %>
                                      <div id="error_explanation">
                                        <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

                                        <ul>
                                        <% order.errors.full_messages.each do |message| %>
                                          <li><%= message %></li>
                                        <% end %>
                                        </ul>
                                      </div>
                                    <% end %>

                                    <% if @order.video.present? && user_signed_in? %>
                                    <p>Already Uploaded!</p>
                                    <% else %>

                                    <div class="field">
                                      <%= form.file_field :video %>
                                    </div>

                                    <!-- ADD EDITING -->

                                    <div class="actions">
                                      <%= form.submit "Upload", class: "btn btn-success"  %>
                                    </div>
                                    <% end %>
                                    <% end %>
                                </div>
                                </div>
                            </div>
                        </div>
                      </div>


                        <div class="col-md-12">


        </div>
    </div>
    <!--   -->
    <!-- <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
        <a href="#" data-toggle="dropdown">
            <i class="fa fa-cog fa-2x"> </i>
        </a>

        <ul class="dropdown-menu">
			<li class="header-title"> Sidebar Style</li>
            <li class="adjustments-line">
                <a href="javascript:void(0)" class="switch-trigger">
                    <p>Background Image</p>
                    <label class="switch">
                        <input type="checkbox" data-toggle="switch" checked="" data-on-color="primary" data-off-color="primary"><span class="toggle"></span>
                    </label>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li class="adjustments-line">
                <a href="javascript:void(0)" class="switch-trigger background-color">
                    <p>Filters</p>
                    <div class="pull-right">
                        <span class="badge filter badge-black" data-color="black"></span>
                        <span class="badge filter badge-azure" data-color="azure"></span>
                        <span class="badge filter badge-green" data-color="green"></span>
                        <span class="badge filter badge-orange" data-color="orange"></span>
                        <span class="badge filter badge-red" data-color="red"></span>
                        <span class="badge filter badge-purple active" data-color="purple"></span>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li class="header-title">Sidebar Images</li>

            <li class="active">
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../assets/img/sidebar-1.jpg" alt="" />
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../assets/img/sidebar-3.jpg" alt="" />
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="..//assets/img/sidebar-4.jpg" alt="" />
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../assets/img/sidebar-5.jpg" alt="" />
                </a>
            </li>

            <li class="button-container">
                <div class="">
                    <a href="http://www.creative-tim.com/product/light-bootstrap-dashboard" target="_blank" class="btn btn-info btn-block btn-fill">Download, it's free!</a>
                </div>
            </li>

            <li class="header-title pro-title text-center">Want more components?</li>

            <li class="button-container">
                <div class="">
                    <a href="http://www.creative-tim.com/product/light-bootstrap-dashboard-pro" target="_blank" class="btn btn-warning btn-block btn-fill">Get The PRO Version!</a>
                </div>
            </li>

            <li class="header-title" id="sharrreTitle">Thank you for sharing!</li>

            <li class="button-container">
				<button id="twitter" class="btn btn-social btn-outline btn-twitter btn-round sharrre"><i class="fa fa-twitter"></i> · 256</button>
                <button id="facebook" class="btn btn-social btn-outline btn-facebook btn-round sharrre"><i class="fa fa-facebook-square"></i> · 426</button>
            </li>
        </ul>
    </div>
</div>
 -->
</body>


<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!--  Chartist Plugin  -->
<!--  Notifications Plugin    -->

<!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->

<script type="text/javascript">
    $(document).ready(function() {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

        demo.showNotification();

    });
</script>

</html>
